# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.swp

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Optional coverage directory
coverage/